/MyBlazorApp/bin/
/MyBlazorApp/obj/
/WeatherApp/WeatherApp/bin/
/WeatherApp/WeatherApp/obj/
/TaskManagerApp/bin/
/TaskManagerApp/obj/
/TaskManagerApp/Layout/
/AdvancedBlazorComponents/bin/
/AdvancedBlazorComponents/obj/
/BlazorServerApp/bin/
/BlazorServerApp/obj/