/MyBlazorApp/bin/
/MyBlazorApp/obj/
/WeatherApp/WeatherApp/bin/
/WeatherApp/WeatherApp/obj/
/TaskManagerApp/bin/
/TaskManagerApp/obj/
/TaskManagerApp/Layout/
/AdvancedBlazorComponents/bin/
/AdvancedBlazorComponents/obj/
/BlazorServerApp/bin/
/BlazorServerApp/obj/
/BlazorPerformanceApp/bin/
/BlazorPerformanceApp/obj/
/EventApp/bin/
/EventApp/obj/
/BasicAPIEndpoints/bin/
/BasicAPIEndpoints/obj/
/JsonExample/bin/
/JsonExample/obj/
/MyWebAPI/bin/
/MyWebAPI/obj/
/MyBasicWebAPI/bin/
/MyBasicWebAPI/obj/
/Middleware/bin/
/Middleware/obj/
/CRUD/bin/
/CRUD/obj/
/DependencyInjection/bin/
/DependencyInjection/obj/
/DIProject/bin/
/DIProject/obj/
/.devcontainer/
/ErrorHandling/bin/
/ErrorHandling/obj/
/Serialization/bin/
/Serialization/obj/
/Deserialization/bin/
/Deserialization/obj/
/SerializationSecurityApp/bin/
/SerializationSecurityApp/obj/
/MyAspNetCoreApp/bin/
/MyAspNetCoreApp/obj/
/SwaggerApiClient/bin/
/SwaggerApiClient/obj/
/MiddlewareOptimizationApp/bin/
/MiddlewareOptimizationApp/obj/
/UserManagementAPI/bin/
/UserManagementAPI/obj/
/EFCoreModelApp/bin/
/EFCoreModelApp/obj/
/CRUDWithMySQL/bin/
/CRUDWithMySQL/obj/
/FullStack/frontend/bin/
/FullStack/frontend/obj/
/FullStack/backend/bin/
/FullStack/backend/obj/
/MinimalApiDemo/bin/
/MinimalApiDemo/obj/
/APIConsumption/bin/
/APIConsumption/obj/
/WeatherAppz/bin/
/WeatherAppz/obj/